
html {
	background: #ebebeb;
	@include mq(less,1000) {
		font-size: 14px;
	}
	@include mq(less,700) {
		font-size: 12px;
	}
	@include mq(less,400) {
		font-size: 10px;
	}
}

p {
	color: $text-light;
	font: calc(.8vw + .6rem) $font-clean;
	line-height: 1.4;
}

.hero {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@include mq(less,700) {
		&:not(#home) {
			height: 50vh;
			min-height: 50vw;
		}
	}
}

.section-heading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 200px;
	padding: 4rem;
	color: transparent;
	text-indent: -10000px;
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	@include mq(less,700) {
		top: initial;
		bottom: 0;
	}
}

.wrapper {
	position: relative;
}

.spacer {
	height: 10px;
	width: 100vw;
	@include mq(less,700) {
		display: none;
		&:first-of-type {
			display: block;
		}
	}
}

footer {
	background-color: #eee;
	height: 50px;
	display: flex;
	p {
		flex: 1;
		font: .8rem $font-clean;
		text-align: center;
		line-height: 50px;
		color: #333;
		a {
			text-decoration: underline;
		}
	}
}



