@include mq(less,700) {


header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.mobile-navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0,0,0,.55);
	pointer-events: auto;
	.mobile-logo p {
		line-height: 39px;
		font-size: 2.2rem;
		font-weight: bold;
		padding: 10px;
		color: rgba($text-light,.65);
	}
}

.nav-toggle {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 10px;
	span {
		background: rgba($primary-light,.8);
		display: block;
		position: relative;
		top: 0;
		width: 50px;
		height: 3px;
		margin-bottom: 9px;
		transition: .3s ease-in-out;
		&:last-of-type {
			margin-bottom: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
		transform-origin: right;
		}
	}
}

.nav-toggle.open span {
	&:nth-child(2),
	&:nth-child(3) {
		opacity: 0;
		transform: scaleX(0);
	}
	&:nth-child(1) {
		transform: rotate(-45deg);
		top: 18px;
	}
	&:nth-child(4) {
		transform: rotate(45deg);
		top: -18px;
	}
}

nav {
	margin-top: 0;
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0,0,0,.55);
	border-bottom: 1px solid #333;
	pointer-events: auto;
	transform: scaleY(0);
	transform-origin: top;
	transition: .25s;
	&.open {
		transform: scaleY(1);
	}
	h3 {
		height: 0;
		text-indent: -10000px;
	}
}

ul.nav-list {
	display: flex;
	flex-direction: column;
}

a.nav-link {
	display: block;
	position: relative;
	z-index: 10;
	padding: 1.5rem 2.5rem 1.5rem 5rem;
	font: 2rem $font-nav;
	text-transform: lowercase;
	color: $text-light;
	text-align: right;
}

span.nav-hover {
	display: none;
}


}//media query

