


$primary-light: #eee;
$primary-dark: #1E2327;
$text-dark: #666;
$text-light: #eee;
$font-nav: "Quicksand";
$font-clean: "Raleway";
$font-script: "Sacramento";

//weird font sizing for festivities, but it works
$size-small: calc(.9vw + .6rem);
$size-medium: calc(1.1vw + .7rem);
$size-large: calc(1.3vw + .8rem);
